
body{
    background-color:hsl(217, 54%, 11%);
    max-width:100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 200px;
}

.card{
    width: 300px;
    height: 550px;
    background: #15273f;
    border: none 10px;
    border-radius: 15px;
}

header img{
    width: 90%;
    height: 90%;
    padding: 13px;
    border: none;
    border-radius: 20px;
}

main .textos-principais{
    display: inline-block;
    padding: 10px 30px 0 30px;
}
    
main .textos-principais h1{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
main .textos-principais p{
    color: rgba(255, 255, 255, 0.645);
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

main .icons {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 15px;
    gap: 90px;
    border-bottom: solid 1px rgba(245, 222, 179, 0.291);
}

main .icons p{
    display: inline-block;
}

main .icons .icon1{
    padding: 0 0 0 10px;
    color: aqua;
    font-size: 13px;
}

main .icons .icon2{
    padding: 0 0 0 10px;
    color: rgb(254, 255, 255);
    font-size: 13px;
}

footer{
    display:flex;
    padding-top: 12px;
}

footer .creator{
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap:20px 
}

footer .creator p{
    display: inline-block;
}

footer .creator img{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 120px;
}

footer .creator p{
    color: aliceblue;
}

footer .creator span{
    color: rgba(153, 154, 154, 0.72);
}







